body {
  /* background-color: black; */
  /* color: white; */
  font-family: poppins-regular;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit; /* blue colors for links too */
}

a:hover {
  color: #9ba2ff;
}

.centered {
  position: fixed;
  top: 25%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.secret:hover + .hide {
  display: block;
  color: #9ba2ff;
}

.hide2 {
  display: none;
}

.secret:hover + .hide2 {
  display: block;
  color: #9ba2ff;
}
